Animation(
    graph: {
        Idle(Side): AnimConfig(
            start: 0,
            length: 4,
            end: Idle(Side),
        ),
        Move(Side): AnimConfig(
            start: 5,
            length: 4,
            end: Move(Side),
        ),
        Attack(Side): AnimConfig(
            start: 10,
            length: 4,
            end: Idle(Side),
        ),
    },
    state: Idle(Side),
)